@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Sunage';
    font-style: normal;
    font-display: block;
    src: url(/Borned.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Born';
    font-style: normal;
    font-display: block;
    src: url(/Akira.woff2) format('woff2');
  }
}

@layer base {
  body {
    @apply overflow-y-visible;
  }
}

@layer utilities {
  .animation-delay-75 {
    animation-delay: 75ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}

*{
  @apply transition-colors duration-100;
}